/* Навигация */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 18px;
}

.navbar a {
    margin: 0 15px;
    font-weight: 500;
}
