@import "./components/Header/header.css";
@import "./components/About/about.css";
@import "./components/Contact/contact.css";
@import "./components/Footer/footer.css";
@import "./components/Home/home.css";
@import "./components/Shop/shop.css";
@import "./components/Cart/cart.css";
@import "./components/CartBadge/cartbadge.css";
@import "./components/PrivacyPolicy/privacypolicy.css";

/* Подключение шрифтов */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

:root {
    --bg-color: #f2f2f2;
    --text-color: #111;
    --accent-color: #000;
    --font-main: "Outfit", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    line-height: 1.6;
    padding-top: 70px;
    scroll-behavior: smooth;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: var(--font-main);
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font: inherit;
}

/* Контейнер для контента */
.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

/* Заголовки */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

/* Кнопки */
.btn {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    background-color: transparent;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 16px;
    font-weight: 600;
}

.btn:hover {
    color: var(--bg-color);
    background-color: var(--accent-color);
}

/* Адаптив */
@media (max-width: 768px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    .navbar {
        font-size: 16px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 14px;
    }
}

/* Адаптив для мобильных */
@media (max-width: 768px) {
    .category-banners {
        flex-direction: column;
        gap: 10px;
    }

    .category-banner {
        width: 100%;
        height: 400px;
    }

    .category-title {
        font-size: 36px;
    }
}
